[Desktop Entry]
Type=Application
Terminal=false
Exec=fcole90-hexgl-webapp
Name=HexGL
X-GNOME-FullName=HexGL
Icon=${SNAP}/meta/gui/hexgl.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=internet
Name[en_GB]=fcole90-hexgl-webapp
